---
import Header from "./../../components/Header.astro";
import Layout from "./../../layouts/Layout.astro";
import FormattedIsoDate from "../../components/FormattedIsoDate.astro";
import { getAllPublishedPosts } from "../../utils";

const allBlogPosts = await getAllPublishedPosts();
---

<Layout
  title="Digitaler Garten - Blog"
  description="Beiträge über's coden und mehr. Der Content ergibt sich durch Projekte und Hobbies von mir."
  slug="/blog"
>
  <Header title="Digitaler Garten" />

  <ul class="divide-green divide-y">
    {
      allBlogPosts.map(({ data, slug }, index) => (
        <li
          class={`relative ${
            index > 0 ? "pt-8 md:pt-12" : ""
          } pb-8 md:pb-12 group`}
        >
          <div class="space-x-2 mb-4">
            {data.tags.map((tag) => (
              <span
                class={`tag bg-green inline-block text-green-900 text-xs px-2 py-1.5 rounded-md lowercase ${tag}`}
              >
                {tag}
              </span>
            ))}
          </div>
          <p class="text-gray-300 font-medium mb-1 text-lg md:text-2xl xl:text-3xl transition-colors duration-150 group-hover:text-green">
            {data.title}
          </p>
          <p class="text-sm">
            <FormattedIsoDate date={data.date} />
          </p>
          <a href={`/blog/${slug}`} class="absolute w-full h-full inset-0" />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .tag {
    &.javascript,
    &.devlife {
      background-color: #ecdb54;
    }
    &.css,
    &.expressjs,
    &.gitbash,
    &.bash,
    &.apache2,
    &.scss &.git {
      background-color: purple;
      color: rgb(209, 213, 219);
    }
    &.vuejs,
    &.nuxtjs &.ssh {
      background-color: #00a591;
      color: #fff;
    }
    &.html5 {
      background-color: indianred;
      color: rgb(209, 213, 219);
    }
    &.wordpress,
    &.reactjs,
    &.electron,
    &.react-native,
    &.typescript,
    &.astro {
      background-color: #007cba;
      color: #fff;
    }
    &.nodejs,
    &.stimulusjs,
    &.spotify {
      background-color: #026e00;
      color: #fff;
    }
    &.mysql,
    &.linux {
      background-color: #f29221;
    }
  }
</style>
