---
import "@fontsource/roboto/100.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";

import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

import Logo from "./../assets/images/logo_solo.svg";

import GitlabIcon from "./../assets/images/footer/gitlab.png";
import LinkedInIcon from "./../assets/images/footer/linkedin.png";
import RssIcon from "./../assets/images/footer/rss.png";
import Beam from "../components/Beam.astro";

interface Props {
  title: string;
  description: string;
  slug?: string;
}

const { title, description, slug } = Astro.props;
---

<!doctype html>
<html lang="de" transition:animate="none">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="author" content="Hassan El Siblani" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={`https://siblanco.dev${slug}`} />
    <meta property="og:image" content="https://siblanco.dev/icon.png" />

    <title>{title}</title>
  </head>
  <body class="bg-green-900 text-gray-300">
    <header
      class="container pt-12 sm:pt-16 lg:pt-24 xl:pt-32 pb-16 sm:pb-32 xl:pb-48"
      transition:persist
    >
      <a href="/">
        <Image src={Logo} alt="Logo" class="w-32 sm:w-40 xl:w-48" />
      </a>
    </header>

    <Beam />

    <main class="container" transition:animate="fade">
      <slot />
    </main>

    <footer class="container pt-16 pb-8" transition:persist>
      <ul class="flex justify-end space-x-3 xl:space-x-4">
        <li>
          <a href="/feed.xml" target="_blank" title="RSS Feed">
            <Image src={RssIcon} alt="Rss Icon" class="w-4 xl:w-5" />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/siblanco/"
            title="LinkedIn Profil besuchen"
            target="_blank"
            rel="noopener"
          >
            <Image src={LinkedInIcon} alt="LinkedIn Icon" class="w-4 xl:w-5" />
          </a>
        </li>
        <li>
          <a
            href="https://www.gitlab.com/siblanco"
            title="Gitlab Profil besuchen"
            target="_blank"
            rel="noopener"
          >
            <Image src={GitlabIcon} alt="Gitlab Icon" class="w-4 xl:w-5" />
          </a>
        </li>
      </ul>
      <hr class="w-12 bg-green h-0.5 border-none m-3 ml-auto mr-0" />
      <ul class="flex space-x-4 justify-end uppercase text-sm xl:mb-1">
        <li>
          <a href="/impressum/" title="Impressum lesen">
            <small class="xl:text-sm">Impressum</small>
          </a>
        </li>
        <li>
          <a href="/datenschutz/" title="Datenschutzerklärung lesen">
            <small class="xl:text-sm">Datenschutz</small>
          </a>
        </li>
      </ul>
      <p class="text-right">
        <small class="xl:text-sm"
          >© {new Date().getFullYear()} Siblanco - Alle Rechte vorbehalten.</small
        >
      </p>
    </footer>
  </body>
</html>
